<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Baiel's burgers are the best!!!</h1>
<table>
<tr>
    <th>name</th>
    <th>description</th>
    <th>category</th>
    <th>price</th>
    <th>size</th>
</tr>
{% for product in products %}
    <tr>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.category}}</td>
        <td>{{product.price}}</td>
        <td>{{product.size}}</td>
    </tr>
{%endfor%}
</table>
<a href="https://www.google.com/imghp?sbi=1">
    click me!
</a>
</body>
</html>
