<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container pb-5 mb-sm-1">
    <!-- Categories grid-->
    <div class="row">
        <!-- Category-->
        {% for product in products%}
        <div class="col-md-4 col-sm-6">
            <div class="card border-0 mb-grid-gutter">
                <a class="card-img-tiles" href="shop-style1-ls.html">
                    <div class="main-img"><img src="{{product.image.url}}" width=300px height=200px alt="Burger"></div>
                    <div class="thumblist"><img src="{{product.image.url}}" width=175px height=120px alt="Burger"><img src="{{product.image.url}}" width=175px height=120px alt="Burger"></div>
                </a>
                <div class="card-body border mt-n1 py-4 text-center">
                    <h2 class="h5 mb-1">{{product.name}}</h2>
                    <span class="d-block mb-3 font-size-xs text-muted">{{product.description}}<span class="font-weight-semibold">{{product.price}}</span><span class="font-weight-semibold">{{product.category}}</span></span><a class="btn btn-pill btn-outline-primary btn-sm" href="shop-style1-ls.html">Shop burger</a>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
</body>
</html>
