{% extends 'products/base.html' %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{ users.gender }}</td>
      <td>{{ users.full_name }}</td>
      <td>{{ users.phone }}</td>
      <td>{{ users.wallet }}</td>
      <td>{{ users.order_count }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
